

body{
    margin: 0;
    overflow-x: hidden;
}

.banner{
    /* clip-path: url(#banner-img-clip-path); */
    z-index: 1;
    -webkit-mask: url(../images/imgs/banner-mask.png);
    mask-mode: alpha;
    -webkit-mask-size: 110%;
    -webkit-mask-position: center;
    -webkit-mask-position-y: -18vw;
    -webkit-mask-repeat: no-repeat;

}



#banner-img{
    width: 100%;
    height: auto;
    margin: 60px 0 0 0;
}

#banner-img-paper{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    margin: 60px 0 0 0;
}

#banner-text-group{
    position: absolute;
    width: 50%;
    top: 100px;
    right: 0;
}

#banner-text-group > h1{
    font-family: 'dubiel-webfont';
    font-weight: 100;
    font-size: 9vw;
    margin: 0;
}

#banner-text-group > h2{
    font-family: 'montserrat';
    font-weight: 500;
    width: 80%;
    font-size: 2vw;
    letter-spacing: .9vw;
    line-height: 3.5vw;
    margin: 0;
}

.banner-text{
    display: inline-block;
    color: white;
}

#credit-name{
    display: inline-block;
    position: relative;
    text-align: right;
    right: 0;
    width: 98%;
    color: white;
    font-family: 'montserrat';
    font-weight: 1000;
    font-size: .7vw;
    letter-spacing: .5rem;
    margin: 7% 0 0 0;
}

#get-started{
    display: inline-block; 
    position: relative;
    bottom: 150px;
    left: 12%;
    transition: bottom .5s;
    margin: 0;
}

#get-started > img{
    width: 400px;
}

#get-started > p{
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'playfair_displayregular';
    font-size: 2rem;
    letter-spacing: .3rem;
}

#get-started:hover{
    bottom: 200px;
}

#background-img{
    width: 100%;
    position: fixed;
    bottom: -100px;
    z-index: -10;
}

#about-text-block{
    position: relative;
    z-index: -1;
    top: -1000px;
    width: 85%;
    height: 3000px;
    margin: auto;
    background-color: rgb(7, 7, 7);
    min-width: 1000px;
}

#about-text-block > div{
    display: grid;
    position: relative;
    top: 600px;
    width: 100%;
    height: 800px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
}

#about-text-block .item-1{
    grid-row: 0 / 1;
    grid-column: 0 / 1;
    margin: 10px;
    min-width: 0;
}

#about-text-block .item-2{
    grid-row: 1 / 2;
    grid-column: 0 / 1;
    margin: 10px;
    min-width: 0;
}

#about-text-block h1{
    margin: 50px 0 50px 50px;
    display: inline-block;
    text-align: right;
    font-family: 'dubiel-webfont';
    font-size: 10em;
    font-weight: 300;
    color: white;
    white-space: pre;
}

#about-text-block h2{
    display: inline-block;
    width: 80%;
    margin: 0;
    text-align: justify;
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}

#about-text-block p{
    display: inline-block;
    position: relative;
    width: 80%;
    margin: 50px 0 0 0;
    font-size: 2em;
    z-index:2
}

#about-text-block img{
    width: 1200px;
    position: relative;
    right: 20%;
    bottom: 200px;
}

p{
    font-family: 'montserrat';
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.25em;
    color: white;
    text-align: justify;
}

/* Other */

#section{
    position: fixed;
    right: 0;
    top: 450px;
    color: white;
    text-align: center;
    writing-mode: vertical-lr;
    transform-origin: 0 25% 0;
    transform: rotate(180deg);
    font-family: 'montserrat';
    letter-spacing: 1rem;
    font-weight: bold;
    font-size: .75rem;
    transition: opacity .2s;
}

@media (max-width: 1100px) {


    #banner-text-group{
        top: 90px;
    }

    #banner-text-group > h1{
        font-size: 48pt;
    }

    #banner-text-group > h2{
        font-size: 10pt;
        letter-spacing: 7px;
        line-height: 18px;
    }

    #get-started{
        transform: scale(.6);
        bottom: 200px;
        left: 6%;
    }

    #credit-name{
        font-size: 6pt;
    }

}

